<body>
    <div class="forgot-password-container">
      <h2 class="forgot-password-title">Forgot Password</h2>
      <p>Please enter your email and we’ll send you a link to get back your account</p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSend()" class="forgot-password-form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-control" required>
        </div>
        <div class="button-group">
          <button type="submit" class="btn-send" [disabled]="forgotPasswordForm.invalid">Send</button>
          <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
        </div>
      </form>
      <!-- <div *ngIf="resetLink" class="reset-link-container">
        <p>Click the link below to reset your password:</p>
        <a [href]="resetLink">Reset Password</a>
      </div> -->
    </div>
  </body>
  